nbaxml.dtd

<?xml version="1.0" encoding="us-ascii"?>

<!ELEMENT GAME (TEAM)>
<!ELEMENT TEAM (TEAMNAME, PLAYER+)>
<!ELEMENT PLAYER (NAME, MIN, PTS, REB, STL, BLK)>
<!ELEMENT TEAMNAME (#PCDATA)>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT MIN (#PCDATA)>
<!ELEMENT PTS (#PCDATA)>
<!ELEMENT REB (#PCDATA)>
<!ELEMENT STL (#PCDATA)>
<!ELEMENT BLK (#PCDATA)>

